<table class="table table-sm table-hover">

  <tr *ngFor="let employee of employeeService.employeeList">

    <td>{{employee.firstName}} - {{employee.lastName}}</td>
    <td>{{employee.empCode}}</td>
    <td>
      <a
        class="btn"
        (click)="showForEdit(employee)">
        <i class="fa fa-pencil-square-o"></i>
      </a>
    </td>

    <td>
      <a
        class="btn text-danger"
        (click)="onDelete(employee.employeeId)">
        <i class="fa fa-trash-o"></i>
      </a>
    </td>

  </tr>

</table>
